* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[class*="float-"] {
    width: 100px;
    height: 100px;
    background-color: red;
    display: inline-block;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.main-container {
    width: 920px;
    margin: 0 auto;
    border: 2px solid red;
}

p {
    margin: 3rem 0;
    text-align: center;
}


header h1 {
    color: rgb(225, 49, 110);
    font-size: xxx-large;
    margin-top: 2rem;
}

header {
    text-align: center;
}

.mediumcontainer {
    width: 100%;
    border: 2px solid black;
}

.row .minicontainer img {
    width: 80%;
    height: 150px;
}

.mediumcontainer .minicontainer {
    width: 33%;
    border: 2px solid black;
}

/*
  .row .col:not(:last-child) {
    margin-right: 10px;
  }
  
  .row .col:nth-child(1) {
    background-color: yellow;
  }
  
  .row .col:nth-child(2) {
    background-color: orange;
  }*/