* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


p {
    margin: 3rem 0;
    text-align: center;
}

a {
    text-decoration: none;
    float: left;
    color: rgb(64,128,155);
    margin-top: .5rem;
}

h4 {
    text-decoration: solid;
    font-family: cursive;
    font-weight: 900;
    margin: 0.2rem 2.5rem .5rem 0;
}

header h1 {
    color: rgb(225, 49, 110);
    font-size: xxx-large;
    margin-top: 2rem;
}

header {
    text-align: center;
}

.main-container {
    width: 1150px;
    margin: 0 auto;
}

.row {
    width: 1150px;
    margin: 0 auto;
}

.row .column img {
    width: 30%;
    height: 30%;
    color: white;
    margin: 0 2rem 0 0;
}

.row .column {
    float: left;
    width: calc(100% / 3 - 2rem);
    background-color: black;
}

.mid {
    margin: 0 3rem;
}

.column > * {
    float: left;
    color: white;
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.last {
    margin-top: 1.5rem;
}