* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


p {
    margin: 3rem 0;
    text-align: center;
}


header h1 {
    color: rgb(225, 49, 110);
    font-size: xxx-large;
    margin-top: 2rem;
}

header {
    text-align: center;
}

.main-container {
    width: 920px;
    margin: 0 auto;
}

.row {
    width: 920px;
}

.row .column img {
    width: 50%;
    height: 150px;
    color: white;
}

.row .column {
    float: left;
    width: calc(100% / 3);
    background-color: black;
    display: flex;
    align-items: center;
}

.column > * {
    color: white;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.last {
    margin-top: 1.5rem;
}

/*
  .row .col:nth-child(1) {
    background-color: yellow;
  }
  
  .row .col:nth-child(2) {
    background-color: orange;

    [class*="float-"] {
    width: 100px;
    height: 100px;
    background-color: red;
    display: inline-block;
}
  }*/